In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

file_path = 'data/tennis_atp/atp_matches_2024.csv'
df = pd.read_csv(file_path) # Load the CSV file into a DataFrame

C:\Users\ShaoZhuo\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

#  Basic information

In [2]:

print("shape:", df.shape)

shape: (3076, 49)

In [3]:
pd.set_option("display.max_columns", None) 
pd.set_option("display.float_format", "{:.0f}".format)
#pd.set_option("display.max_rows", 20)

In [4]:
df.head(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2024-0339,Brisbane,Hard,32,A,20240101,300,105777,2,NaN,Grigor Dimitrov,R,191,BUL,33,208029,1,NaN,Holger Rune,R,188,DEN,21,7-6(5) 6-4,3,F,136,8,2,74,52,40,13,11,3,3,9,3,95,58,44,16,11,8,9,14,2570,8,3660
1,2024-0339,Brisbane,Hard,32,A,20240101,299,208029,1,NaN,Holger Rune,R,188,DEN,21,126128,NaN,NaN,Roman Safiullin,R,185,RUS,26,6-4 7-6(0),3,SF,97,7,4,72,48,39,11,11,1,2,5,5,66,35,31,10,11,5,7,8,3660,39,1122
2,2024-0339,Brisbane,Hard,32,A,20240101,298,105777,2,NaN,Grigor Dimitrov,R,191,BUL,33,111442,NaN,NaN,Jordan Thompson,R,183,AUS,30,6-3 7-5,3,SF,109,10,3,67,45,39,10,11,6,6,5,1,62,39,24,14,10,5,7,14,2570,55,902
3,2024-0339,Brisbane,Hard,32,A,20240101,297,208029,1,NaN,Holger Rune,R,188,DEN,21,105902,NaN,Q,James Duckworth,R,183,AUS,32,6-2 7-6(6),3,QF,105,13,0,65,36,31,17,10,1,1,5,2,77,51,31,16,10,3,5,8,3660,116,573
4,2024-0339,Brisbane,Hard,32,A,20240101,296,126128,NaN,NaN,Roman Safiullin,R,185,RUS,26,208286,NaN,NaN,Matteo Arnaldi,R,185,ITA,23,7-6(4) 6-2,3,QF,120,9,3,73,43,36,14,10,2,3,3,2,69,37,27,16,10,5,8,39,1122,44,1021

In [5]:
# column names and types
print(df.dtypes)

tourney_id             object
tourney_name           object
surface                object
draw_size               int64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
winner_rank           float64
winner_rank_points    float64
loser_rank            float64
loser_rank_points     float64
dtype: object

In [6]:
print(len(df.columns))
pprint(list(df.columns))

49
['tourney_id',
 'tourney_name',
 'surface',
 'draw_size',
 'tourney_level',
 'tourney_date',
 'match_num',
 'winner_id',
 'winner_seed',
 'winner_entry',
 'winner_name',
 'winner_hand',
 'winner_ht',
 'winner_ioc',
 'winner_age',
 'loser_id',
 'loser_seed',
 'loser_entry',
 'loser_name',
 'loser_hand',
 'loser_ht',
 'loser_ioc',
 'loser_age',
 'score',
 'best_of',
 'round',
 'minutes',
 'w_ace',
 'w_df',
 'w_svpt',
 'w_1stIn',
 'w_1stWon',
 'w_2ndWon',
 'w_SvGms',
 'w_bpSaved',
 'w_bpFaced',
 'l_ace',
 'l_df',
 'l_svpt',
 'l_1stIn',
 'l_1stWon',
 'l_2ndWon',
 'l_SvGms',
 'l_bpSaved',
 'l_bpFaced',
 'winner_rank',
 'winner_rank_points',
 'loser_rank',
 'loser_rank_points']

In [7]:
# description statistics
df.describe()
# df.describe(include='all')

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,loser_age,best_of,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,3076,3076,3076,3076,1294,3057,3075,3076,757,3026,3075,3076,2838,3016,3016,3016,3016,3016,3016,3015,3016,3016,3016,3016,3016,3016,3016,3016,3015,3016,3016,3059,3059,3036,3036
mean,63,20240570,253,156539,8,188,26,154957,10,187,27,3,115,7,2,78,50,38,16,13,3,5,5,3,81,50,34,14,12,5,8,80,1932,110,1197
std,45,306,100,44882,7,6,4,44902,8,7,4,1,42,5,2,29,19,13,7,4,3,4,5,2,29,19,14,7,4,3,4,137,2162,170,1297
min,2,20240101,1,100644,1,170,17,100644,1,71,16,3,0,0,0,5,3,1,0,1,0,0,0,0,3,2,0,0,0,0,0,1,2,1,1
25%,32,20240304,219,111442,3,183,23,111153,4,183,24,3,85,3,1,57,36,28,11,10,1,2,2,1,60,37,24,10,9,2,5,17,688,34,555
50%,32,20240527,280,133954,6,188,26,132686,7,185,27,3,108,6,2,73,47,36,15,11,3,4,4,3,76,47,32,13,11,4,8,45,1066,64,830
75%,128,20240826,297,207213,11,193,28,206964,14,191,29,3,139,10,3,94,60,45,20,15,5,7,8,4,97,61,42,18,15,7,11,85,2270,109,1294
max,128,20241218,401,212721,32,211,45,212970,33,211,44,5,335,51,23,214,152,116,48,30,21,25,34,20,217,138,99,52,29,21,27,1643,11830,2102,11245

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3076 entries, 0 to 3075
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          3076 non-null   object
 1   tourney_name        3076 non-null   object
 2   surface             3076 non-null   object
 3   draw_size           3076 non-null   int64
 4   tourney_level       3076 non-null   object
 5   tourney_date        3076 non-null   int64
 6   match_num           3076 non-null   int64
 7   winner_id           3076 non-null   int64
 8   winner_seed         1294 non-null   float64
 9   winner_entry        477 non-null    object
 10  winner_name         3076 non-null   object
 11  winner_hand         3076 non-null   object
 12  winner_ht           3057 non-null   float64
 13  winner_ioc          3076 non-null   object
 14  winner_age          3075 non-null   float64
 15  loser_id            3076 non-null   int64
 16  loser_seed          757 non-null    float64
 17  loser_entry         718 non-null    object
 18  loser_name          3076 non-null   object
 19  loser_hand          3076 non-null   object
 20  loser_ht            3026 non-null   float64
 21  loser_ioc           3076 non-null   object
 22  loser_age           3075 non-null   float64
 23  score               3076 non-null   object
 24  best_of             3076 non-null   int64
 25  round               3076 non-null   object
 26  minutes             2838 non-null   float64
 27  w_ace               3016 non-null   float64
 28  w_df                3016 non-null   float64
 29  w_svpt              3016 non-null   float64
 30  w_1stIn             3016 non-null   float64
 31  w_1stWon            3016 non-null   float64
 32  w_2ndWon            3016 non-null   float64
 33  w_SvGms             3015 non-null   float64
 34  w_bpSaved           3016 non-null   float64
 35  w_bpFaced           3016 non-null   float64
 36  l_ace               3016 non-null   float64
 37  l_df                3016 non-null   float64
 38  l_svpt              3016 non-null   float64
 39  l_1stIn             3016 non-null   float64
 40  l_1stWon            3016 non-null   float64
 41  l_2ndWon            3016 non-null   float64
 42  l_SvGms             3015 non-null   float64
 43  l_bpSaved           3016 non-null   float64
 44  l_bpFaced           3016 non-null   float64
 45  winner_rank         3059 non-null   float64
 46  winner_rank_points  3059 non-null   float64
 47  loser_rank          3036 non-null   float64
 48  loser_rank_points   3036 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.2+ MB

In [9]:

# numeric columns
numeric_cols = df.select_dtypes(include=["int64", "float64"]).columns.tolist()
print(len(numeric_cols))
print(numeric_cols)

# categorical columns
categorical_cols = df.select_dtypes(include=["object", "category"]).columns.tolist()
print(len(categorical_cols))
print(categorical_cols)

35
['draw_size', 'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_ht', 'winner_age', 'loser_id', 'loser_seed', 'loser_ht', 'loser_age', 'best_of', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points']
14
['tourney_id', 'tourney_name', 'surface', 'tourney_level', 'winner_entry', 'winner_name', 'winner_hand', 'winner_ioc', 'loser_entry', 'loser_name', 'loser_hand', 'loser_ioc', 'score', 'round']

In [10]:
df.isna().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1782
winner_entry          2599
winner_name              0
winner_hand              0
winner_ht               19
winner_ioc               0
winner_age               1
loser_id                 0
loser_seed            2319
loser_entry           2358
loser_name               0
loser_hand               0
loser_ht                50
loser_ioc                0
loser_age                1
score                    0
best_of                  0
round                    0
minutes                238
w_ace                   60
w_df                    60
w_svpt                  60
w_1stIn                 60
w_1stWon                60
w_2ndWon                60
w_SvGms                 61
w_bpSaved               60
w_bpFaced               60
l_ace                   60
l_df                    60
l_svpt                  60
l_1stIn                 60
l_1stWon                60
l_2ndWon                60
l_SvGms                 61
l_bpSaved               60
l_bpFaced               60
winner_rank             17
winner_rank_points      17
loser_rank              40
loser_rank_points       40
dtype: int64